# Réseau privé (IP de la machine serveur)
# Exemple: 192.168.0.15
SERVER_IP=192.168.0.15

# Backend
JWT_SECRET=your-super-secret-jwt-key-change-in-production
FRONTEND_URL=http://192.168.0.15:3000
PORT=3001

# Frontend
NEXT_PUBLIC_API_URL=http://192.168.0.15:3001

# Docker
API_URL=http://192.168.0.15:3001
